<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.elashry.elatheer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".Controller"
        android:allowBackup="true"
        android:icon="@drawable/alatheer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alatheer"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".Activites.Splach"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.Services"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activites.Programs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activites.CallUs"  />
        <activity android:name=".Activites.About" />
        <activity android:name=".Activites.Offer" />
        <activity android:name=".Activites.Camera" />
        <activity android:name=".Activites.media" />
        <activity android:name=".Activites.Fahrasa" />
        <activity android:name=".idia" />
        <activity android:name=".Activites.idieaactivity" />
        <activity android:name=".Activites.WhyAtheer" />
        <activity android:name=".Activites.News" />
        <activity android:name=".Activites.Check_Internet_connection" />
        <activity android:name=".Activites.Details_News"></activity>
        <activity android:name=".Activites.MainActivity"   android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activites.MyIntro"   android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>